
@media only screen and (max-width : 1390px){
    .comments-nth-child1{
        width: calc(40% - 20px);
    }
    .comments-nth-child2{
        width: calc(47% - 10px);
    }
    .comments-bottum{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .comments-nth-child4{
        width: 93.5%;
    }
    .comments-nth-child3{
        width: 100%;
    }
}
@media only screen and (max-width : 1170px){

}
@media only screen and (max-width : 1000px){
    #menu-img{
        display: inherit;
        width: 40px;
        height: auto;
        z-index: 10;
        opacity: 0.5;
        margin-left: 50px;
    }
    .menu-img-scroll{
        display: inherit;
        width: 30px;
        position: fixed;
        height: auto;
        z-index: 10;
        top:30px ;
        opacity: 0.5;
        left: 70px;
    }
    .header-top--nav{
        margin-top: -220px;
        z-index: 10;
    }
    section header h2 {
        font-size: 22px;
        margin:70px 0 20px 0 ; 
        color: #414141;
    }
    section header p {
        font-size: 13px;
        color: #b9b9b9;
    }
    .header-top--nav ul{
        display: none;
    }
    .public-service--article article{
        width: 49%;
        margin-top: 20px;
        text-align: center;
    }
    .public-service--img{
        width: auto;
        height: 100px;
    }
    .comments-nth-child{
        width: 100%;
    }
    .comments-nth-child4{
        width: 91%;
    }
    .comments-nth-child3{
        width: 91%;
        align-content: space-between;
    }
    .some-customers img {
        width: 80%;
        display: flex;
        align-self: center;
        justify-self: center;
        margin: 0 auto;
    }
    .information{
        display: none;
    }
    .cybercrime-law{
        width: 50%;
    }
    .cybercrime-law img{
        width: 50px;
        margin-top: 20px;
    }

    .cybercrime-law h4{
        font-size: 14px;
        margin: 10px 0;
    }
    .cybercrime-law p{
        font-size: 10px;
        line-height: 2;
        color: #585858;
    }
    .social-networks h3{
        font-size: 14px;
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .social-inner a h4{
        font-size: 10px;
    }
}
@media only screen and (max-width : 650px){
    .logo img{
        height: 150px;
    }
    .hr-a{
        margin-top: 60px;
    }
    #menu-img{
        display: inherit;
        width: 30px;
        margin-left: 30px;
    }
    .header-top--nav{
        margin-top: -130px;
    }
    section header h2 {
        font-size: 18px;
        margin:70px 0 20px 0 ; 
        color: #414141;
    }
    section header p {
        font-size: 10px;
        color: #b9b9b9;
    }
    .public-service--article article{
        width: 90%;
        margin:0 auto 40px auto;
    }
    .public-service--img{
        height: 160px;
    }
    .slider a{
        font-size: 14px;
    }
    .cybercrime-law h4{
        font-size: 10px;
        margin: 10px 0;
    }
    .cybercrime-law p{
        font-size: 8px;
        line-height: 2;
        color: #585858;
    }
    .cybercrime-law{
        width: 50%;
    }
    .cybercrime-law img{
        width: 40px;
        margin-top: 20px;
    }
    .social-inner a h4{
        display: none;
    }
    .social-networks{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .social-inner img{
        width: 80%;
    }
}
