
.container-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-top {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    direction: rtl;
    flex-wrap: wrap;
    z-index: 10;
    align-content: center;
    margin: -0px auto 0 auto;
}
.logo{
    width: 50%;
    height: auto;
}
.logo img{
    width: 30%;
    margin-right: 30px;
    margin-top: -15px;
}
.header-top-nav{
    width: 50%;
    z-index: 10;
}
.header-top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 15px;
    direction: rtl; 
    color: #ffffff;
    margin-top: 10px;
}
.header-top-nav-ul li{
    padding: 20px;
    margin: 0 auto;
}
.public-service__article{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:center;
    align-items: baseline;
    text-align: center;
    direction: rtl;
}
.public-service__article article{
    width: 33.33%;
    margin-top: 20px;
    text-align: center;
}
.public-service img{
    width: 40%;
    height: auto;
    margin-top: 20px;
}
.slider{
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.comments{
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    direction: rtl;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: 13px;
}
.comments-top , .comments-bottom{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-top-right{
    width: 36%;
    margin-right: 20px;
    min-height: max-content;
}
.comment-top-left{
    width: 60%;
    min-height: max-content;
}
.comment-bottom-left{
    width:60% ;
    min-height: max-content;
    margin-right: 20px;
}
.comment-bottom-right{
    width: 37%;
    min-height: max-content;
}
.comment-inner-bottom{
    margin-top: 20px;
}
.some-customers{
    width: 80%;
    margin: 20px auto 20px auto;
}
.some-customers div {
    margin: 0 auto;
    width: 95%;
    display: flex;
    z-index: 1;
    justify-content: space-around;
}
.some-customers div a img {
    margin: 0 auto;
    width: 90%;
    opacity: 0.4;
}

footer{
    z-index: 1;
    width: 80%;
    padding: 1% 10% 2% 1%;
    margin:0 auto 10px auto;
    display: flex;
    padding-left: 20%;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
}
.cybercrime-law{
    width: 30%;
    text-align: center;
}
.social-networks{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.social-inner{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #797979;
}
.social-inner img{
    width: 30px;
    margin-left: 10px;
}

@media only screen and (max-width : 992px) {
    .menu-img-scroll {
        display: inherit;
        width: 30px;
        position: fixed;
        height: auto;
        z-index: 10;
        top: 30px;
        opacity: 0.5;
        left: 70px;
    }

    .header-top--nav {
        margin-top: -220px;
        z-index: 10;
    }

    section header h2 {
        font-size: 22px;
        margin: 70px 0 20px 0;
        color: #414141;
    }

    section header p {
        font-size: 13px;
        color: #b9b9b9;
    }

    .header-top__nav ul {
        display: none;
    }

    .header-top__nav-ul {
        display: flex;
        height: 200px;
        flex-direction: column;
        width: 30%;
        justify-content: space-evenly;
        font-family: 'Iranian Sans';
        font-size: 15px;
        direction: rtl;
        color: #ffffff;
        background-color: #3FCFC7;

    }

    .header-top__nav-ul li {
        padding: 20px;
        margin: 0 auto;
    }

    .public-service__article article {
        width: 49%;
        margin-top: 20px;
        text-align: center;
    }

    .public-service img {
        width: auto;
        height: 100px;
    }

    .some-customers div img {
        width: 80%;
        display: flex;
        align-self: center;
        justify-self: center;
        margin: 0 auto;
    }

    .cybercrime-law {
        width: 40%;
        margin-right: 40px;
        margin-left: -100px;
    }

    .cybercrime-law img {
        width: 50px;
        margin-top: 20px;
    }
    .information{
        line-height:2.5 ;
    }
    .information h4{
        font-size: 15px;
        margin-top: 30px;
    }
    .information ul{
        font-size: 13px;
    }
    .cybercrime-law h4 {
        font-size: 14px;
        margin: 10px 0;
    }

    .cybercrime-law p {
        font-size: 13px;
        line-height: 2;
        color: #585858;
    }

    .social-networks h3 {
        font-size: 14px;
        margin-bottom: 20px;
        padding-top: 30px;
    }

    .social-inner a h4 {
        font-size: 10px;
    }
}

@media only screen and (max-width : 768px) {
    .header-backgrond{
        width: 100%;
        height: 200px;
        position: absolute;
    }
    .logo {
        width: 40%;
        height: auto;
    }

    .logo img {
        width: 50%;
        margin-right: 30px;
        margin-top: -15px;
    }

    .header-top-nav {
        width: 60%;
        z-index: 10;
    }

    .hr-a {
        margin-top: 100px;
    }

    #menu-img {
        display: inherit;
        width: 30px;
        margin-left: 30px;
    }
    .header-top-nav ul{
        margin-top: -20px;
    }
    section header h2 {
        font-size: 18px;
        margin: 70px 0 20px 0;
        color: #414141;
    }

    section header p {
        font-size: 10px;
        color: #b9b9b9;
    }

    .slider a {
        font-size: 14px;
    }
    .comment{
        width: 50%;
    }
    .comments-bottom{
        flex-direction: column;
        width: 100%;
    }
    .comment-bottom-left{
        width: 100%;
        flex-direction: row;
        margin: 0;
    }
    .comment-inner-bottom , .comment-inner-top{
        width: 100%;
        margin: 0px;
    }
    .comment-inner-bottom{
        margin-top: 20px;
    }
    .comment-bottom-right{
        width: 100%;
        margin-bottom: 20px;
    }
    .some-customers div a img {
        width: 70%;
        display: flex;
        align-self: center;
        justify-self: center;
        margin: 0 auto;
        opacity: 0.4;
    }

    .cybercrime-law h4 {
        font-size: 10px;
        margin: 10px 0;
    }

    .cybercrime-law p {
        font-size: 10px;
        line-height: 2.5;
        color: #585858;
    }
    .information{
        margin-top: -10px;
    }
    .information ul{
        font-size: 10px;
    }
    .cybercrime-law {
        width: 40%;
    }

    .cybercrime-law img {
        width: 40px;
        margin-top: 20px;
    }
    .social-networks h3 {
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 0px;
    }

    .social-networks {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .social-inner img {
        width: 100%;
        margin: 0 auto;
    }
    .social-inner {
        margin-top: 0px;
    }
    .social-inner a p {
        margin-top: -15px;
        /* display: none; */
    }
    .icon{
        width: 25px;
        height: 25px;
        margin-bottom: 15px;
        font-size: 17px;
        align-items: center;
        align-content: center;
    }
    .icon i{
        margin-top: 4px;
    }
    
}
@media only screen and (max-width : 576px) {
    .header-top-nav ul {
        font-size: 11px;
    }
    .header-backgrond{
        height: 150px;
    }
    .logo{
        margin-top: -10px;
    }
    .hr-a{
        margin-top: 50px;
    }
    section header h2 {
        font-size: 16px;
        margin: 40px 0 20px 0;
    }
    .public-service__article{
        flex-direction: column;
        margin-top: -60px;
    }
    .public-service img{
        width: 70%;
        height: auto;
    }
    .comments-top , .comments-bottom{
        flex-direction: column;
        margin-top: -10px;
    }
    .comment{
        width: 100%;
        margin: 10px 0;
    }
    .comment-bottom-left{
        width: 100%;
        margin: 0;
    }
    .information{
        display: none;
    }
    .cybercrime-law{
        margin-left: 0px;
        width: 50%;
    }
    
}