html {
    background-color: #e4e4e4;
}
body{
    margin: 0 auto;
    background-color: #fafafa;
    font-family: IRANSans;
}
.container-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-top {
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template: 1fr / repeat(9 , 1fr);
    direction: rtl;
    z-index: 10;
    align-content: center;
    margin: 10px auto 0 auto;
}
.header-backgrond{
    width: 100%;
    height: 300px;
    position: absolute;
}
.logo{
    width: 50%;
    height: auto;
    grid-column: 1 / 4;
}
.logo img{
    width: 90%;
    margin-right: 30px;
    margin-top: 0px;
}
#menu-img{
    display: none;
}
.header-top-nav{
    z-index: 10;
    grid-column: 5 / 9;
}
.header-top-nav ul{
    display:grid;
    grid-template: 1fr / repeat(4 , 1fr);
    font-size: 15px;
    grid-gap: 0 10px;
    direction: rtl; 
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.nav-scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    padding: 20px;
    position: fixed;
    justify-content:space-evenly;
    font-size: 15px;
    direction: rtl; 
    color: #ffffff;
    background-color: #3FCFC7;
    opacity: 0.9;
}

.header-top-nav ul li:hover{
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 15.5px;
}

.hr-a{
    margin-top: 220px;
    border: 0.5px  solid #3FCFC7 ;
    opacity: 0.1;
    width: 80%;
}

section header {
    text-align: center;
    margin: 50px;
    direction: rtl;
}
section header h2 {
    font-size: 28px;
    margin:100px 0 20px 0 ; 
    color: #414141;
}
section header p {
    font-size: 15px;
    color: #b9b9b9;
    margin-bottom: 80px;
}

.public-service{
    width: 80%;
    margin: 0 auto;
}
.public-service__article{
    display: grid;
    grid-template:1fr 1fr / 1fr 1fr 1fr;
    justify-content:space-between;
    grid-gap: 20px 20px;
    
}
.public-service__article article{
    margin-top: 20px;
    text-align: center;
}
/* .public-service--img{
    width: 45%;
    height: auto;
} */
.public-service__article article h4{
    margin: 15px auto 0 auto;
    font-size: 14px;
    width: 90%;
    color: #696969;
    text-align: center;
}
.public-service__article article h4:hover{
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 14.5px;
    color: #333333;
}
.slider{
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.slider img {
    width: 100%;
    height: auto;
    margin: 30px 0 10px 0;
}
.slider a{
    margin: 10px auto;
    background-color: #fafafa;
    border:2px solid  #3FCFC7;
    border-radius: 30px;
    color: #3FCFC7;
    font-size: 20px;
    padding:10px 25px;
}
.slider a:hover{
    background-color: #3FCFC7;
    color: white;
    transition: 0.5s;
}
.btn {
    display: grid;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;    
}
.comments{
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    direction: rtl;
    line-height: 200%;
    display: grid;
    grid-template: 1fr 1fr 1fr/repeat(1, 1fr);
    padding: 30px;
    grid-gap: 0px 20px;
    z-index: 1;
    font-size: 13px;
}
.comment{
    background-color: #ffffff;
    direction: rtl;
    padding: 4% 0 4% 4%;
}
.comment h4 , .comment span , .comment p{
    margin-right: 40px;
}
.comment h4 {
    font-size: 20px;
}
.comment span{
    font-size: 10px;
    color: #585858;
}
.comments-top{
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(9, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 20px;
    grid-gap: 0px 20px;
}
.comment-top-left{
    grid-column: 4 / 10;
    grid-row: 1 / 2;
}
.comment-top-right{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.comment-inner-top{
    margin-bottom: 20px;
}
.comments-bottom{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(9, 1fr);
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    grid-gap: 0px 20px;
}
.comment-bottom-left{
    grid-column: 1 / 7;
    grid-row: 1 / 3;
}
.comment-bottom-right{
    grid-column: 7 / 10;
    grid-row: 1 / 3;
}
.comments--pr{
    color: rgb(102, 102, 102);
}
.some-customers-header{
    margin: 20px;
}
.some-customers {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template:1fr / 1fr 1fr 0.8fr 1fr 1fr 0.8fr ;
    z-index: 1;
    justify-content: space-around;
    justify-items: center;
}
.some-customers a {
    display: grid;
    justify-items: center;
    justify-content: center;
}
.some-customers {
    justify-items: center;
    justify-content: center;
}
.some-customers a img {
    margin: 0 auto;
    width: 90%;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    opacity: 0.4;
}
#line{
    width: 100%;
}
#svg {
    left: 83%;
    margin-top: -110px;
    width: 6%;
}
footer{
    z-index: 1;
    width: 70%;
    padding: 1% 1% 2% 1%;
    margin: 0 50px 0 0;
    display: grid;
    grid-template: 1fr / 2fr 1.5fr 1fr;
    padding-left: 20%;
    font-size: 15px;
    grid-gap: 0 20px;
    justify-content: space-evenly;
}

.cybercrime-law{
    width: 70%;
    text-align: center;
}
.cybercrime-law h4{
    font-size: 20px;
    margin: 10px 0;
}
.cybercrime-law p{
    line-height: 2;
    color: #585858;
}
.information{
    direction: rtl;
    line-height: 2.7;
}
.information h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.information p ul li{
    color: #585858;
}
#span{
    color: #3FCFC7;
}
.social-networks{
    direction: rtl;
}
.social-networks h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.social-inner a h4{
    font-size: 13px;
}
.social-networks h4:hover{
    font-size: 13.5px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}
.social-inner{
    margin-top: 10px;
    display: grid;
    grid-template: 1fr / 0.3fr 1fr ;
    align-items: center;
}
.social-inner img{
    width: 30px;
    margin-left: 10px;
}
.icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    text-justify: inter-cluster;
    font-size: 20px;
}
.icon i{
    color: rgb(114, 114, 114);
    margin-top:5px;
    opacity: 0.7;
}
