@media only screen and (max-width : 1000px){
    #menu-img{
        display: inherit;
        width: 40px;
        height: auto;
        margin-top: -210px;
        z-index: 10;
        opacity: 0.5;
        margin-left: 50px;
    }
    .header-top--nav ul{
        display: none;
    }
}
@media only screen and (max-width : 770px){
}
@media only screen and (max-width : 420px){
}