html {
    background-color: #e4e4e4;
}
body{
    margin: 0 auto;
    background-color: #fafafa;
    font-family: IRANSans;
}
.container-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-top {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    direction: rtl;
    flex-wrap: wrap;
    z-index: 10;
    align-content: center;
    margin: -0px auto 0 auto;
}
.header-backgrond{
    width: 100%;
    height: 300px;
    position: absolute;
}
.logo{
    width: 50%;
    height: auto;
}
#menu-img{
    display: none;
}
.logo img{
    width: 30%;
    margin-right: 30px;
    margin-top: -15px;
}
.header-top-nav{
    width: 50%;
    z-index: 10;
}
.header-top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 15px;
    direction: rtl; 
    color: #ffffff;
    margin-top: 10px;
}

.header-top-nav-ul li{
    padding: 20px;
    margin: 0 auto;
}
.nav-scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    padding: 20px;
    position: fixed;
    justify-content:space-evenly;
    font-size: 15px;
    direction: rtl; 
    color: #ffffff;
    background-color: #3FCFC7;
    opacity: 0.9;
}

.header-top-nav ul li:hover{
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 15.5px;
}

.hr-a{
    margin-top: 220px;
    border: 0.5px  solid #3FCFC7 ;
    opacity: 0.1;
    width: 80%;
}

section header {
    text-align: center;
    margin: 50px;
    direction: rtl;
}
section header h2 {
    font-size: 30px;
    font-weight: 600;
    margin:70px 0 20px 0 ; 
    color: #414141;
}
section header p {
    font-size: 17px;
    color: #b9b9b9;
}

.public-service{
    width: 80%;
    margin: 0 auto;
}
.public-service__article{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:center;
    align-items: baseline;
    text-align: center;
    direction: rtl;
}
.public-service__article article{
    width: 33.33%;
    margin-top: 20px;
    text-align: center;
}
.public-service__img{
    width: 40%;
    height: auto;
    margin-top: 20px;
}
.public-service__article article h4{
    margin: 15px auto 0 auto;
    font-size: 16px;
    width: 90%;
    color: #696969;
    text-align: center;
}
.public-service__article article h4:hover{
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 14.5px;
    color: #333333;

}
.slider{
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.slider img {
    width: 100%;
    height: auto;
    margin: 30px 0 10px 0;
}
.slider a{
    margin: 10px auto;
    background-color: #fafafa;
    border:2px solid  #3FCFC7;
    border-radius: 30px;
    color: #3FCFC7;
    font-size: 20px;
    padding:10px 25px;
}
.slider a:hover{
    background-color: #3FCFC7;
    color: white;
    transition: 0.5s;
}
.btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;    
}
.comments{
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    direction: rtl;
    line-height: 200%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}
.comments-nth-child{
    padding: 2% 50px 40px 1%;
    margin: 5px 0;
    background-color: #ffffff;
}
.comments-nth-child:hover{
    box-shadow: 1px 1px 3px #414141;
}
.comments-nth-child--inner{
    padding: 2% 50px 40px 1%;
    margin: 10px 0;
}
.comments-nth-child h4{
    font-size: 16px;
}
.comments-nth-child span{
    font-size: 9px;
    color: rgb(163, 163, 163);
}
.comments-nth-child p{
    font-size: 13px;
}
.comments-nth-child1{
    width: calc(40% - 10px);
}
.comments-nth-child2{
    width: calc(49% - 10px);
}
.comments-nth-child3{
    width: calc(65% - 10px);
    align-content: space-between;
}
.comment--bottom {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.comments-nth-child4{
    width: calc(30% - 10px);
}

.comments--pr{
    color: rgb(102, 102, 102);
}
.some-customers-header{
    width: 80%;
    margin: 20px auto 20px auto;
}
.some-customers {
    margin: 0 auto;
    width: 95%;
    display: flex;
    z-index: 1;
    justify-content: space-around;
}
.some-customers a img {
    margin: 0 auto;
    width: 90%;
    opacity: 0.4;
}
#line{
    width: 100%;
}
#svg {
    left: 83%;
    margin-top: -110px;
    width: 6%;
}
footer{
    z-index: 1;
    width: 80%;
    padding: 1% 10% 2% 1%;
    margin:0 auto 10px auto;
    display: flex;
    padding-left: 20%;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
}

.cybercrime-law{
    width: 30%;
    text-align: center;
}
.cybercrime-law h4{
    font-size: 20px;
    margin: 10px 0;
}
.cybercrime-law p{
    line-height: 2;
    color: #585858;
}
.information{
    direction: rtl;
    line-height: 2.5;
}
.information h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.information p ul li{
    color: #585858;
}
#span{
    color: #3FCFC7;
}
.social-networks{
    direction: rtl;
}
.social-networks h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.social-inner a h4{
    font-size: 13px;
}
.social-networks h4:hover{
    font-size: 13.5px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}
.social-inner{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-inner img{
    width: 30px;
    margin-left: 10px;
}
